@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    width: 100%;
    height:100%;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}